body {
    font-family: Arial;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 10px white;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: grey;
    margin-bottom: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 14px 0;
    border: 2px solid grey;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 20px;
    background-color:orangered;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: orangered;
}
